@import "../../../assets/styles/variables.scss";


.mat-toolbar {
  background-color: #40407a;
  color: white;
}


img:hover {
  cursor: pointer;
}

.example-spacer {
  flex: 2 2 auto;
}

.kanto {
  height: 16px;
  width: 20px;
}

.johto {
  height: 20px;
  width: 20px;
}

.hoenn {
  height: 30px;
  width: 30px;
}

.sinnoh {
  height: 20px;
  width: 20px;
}

.teselia {
  height: 20px;
  width: 15px;
}

.kalos {
  height: 21px;
  width: 21px;
}

.alola {
  height: 20px;
  width: 20px;
}

.galar {
  height: 23px;
  width: 20px;
}
